<div class="clearfix">
  </div>
  <div class="todo-list">

  </div>
  <button class="add-todo clearfix">
    <i class="plusIcon fas fa-plus fa-msg"></i>
    <span>Add TODO List</span>
  </button>

<%= javascript_include_tag 'main_page.js' %>
